.uk-navbar{
   padding: 0 20px;
}
.uk-navbar-nav a{
  padding:0 20px;
}
h2{
  color:white;
  text-align:center;
}
.signup{
  background-color: rgba(41, 105, 176, 1);
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.uk-form-width-large{
  margin:0 10px;
}

.column{
  padding:30px;
}

.columns{
  margin:0 20px;
  text-align:center;
}
.footer{
  background-color:gray;
  color:white;
  margin:0;
}
.uk-form-width-medium{
  width:300px;
  margin: 5px 0;
}

a{
  color:darkblue;
}

.uk-button-primary{
    background-color: rgba(100, 189, 46, 1);
}

.uk-button-primary:hover{
  background-color: rgba(100, 170, 53, 1)
}
.button{
  border:none;
  display:flex;
  justify-content:center;
  margin-bottom:10px;
}

@media screen and (min-width:800px){
  .signup{
    flex-direction:row;
  }
}

footer{
  width:100vw;
  background: black;
}